@media (max-width: 991px) {
    .promo {
        padding: 21px 10px 93px 10px;
        background: url(../../img/bg.png) left (center/cover) no-repeat;
    }
}

@media (max-width: 767px) {
    .header {
        &__phone {
            font-size: 17px;
        }
    }
}

@media (max-width: 575px) {
    .header {
        display: block;
        &__logo {
            img {
                display: block;
                margin: 0 auto;
                width: 200px;
            }
        }
        &__official {
            margin-top: 20px;
            text-align: center;
        }
        &__contacts {
            align-items: center;
        }
    }
    .promo {
        background: url(../../img/bg.png) right (center/cover) no-repeat;
        min-height: 450px;
        padding: 21px 10px 21px 10px;
        &__wrapper {
            margin-top: 40px;
        }
        &__header {
            font-size: 35px;
            text-align: right;
        }
        &__subheader {
            text-align: right;
        }
        &__icons {
            width: 100%;
            margin-top: 10px;
        }
        &__icon {
            font-size: 12px;
        }
    }
    .button_main {
        width: 280px;
        margin-top: 20px;
    }
    .advantages {
        padding: 30px 10px 30px 10px;
        &__wrapper {
            margin-top: 20px;
        }
        &__items {
            display: block;
            margin: 0 auto;
        }
        &__item {
            width: 100%;
            margin-top: 20px;
            &__title {
                margin-top: 5px;
            }
            &__text {
                margin-top: 5px;
            }
        }
    }
}